<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<!-- <include filename="$(find uuv_descriptions)/urdf/common.urdf.xacro" /> -->
	<xacro:include filename="$(find uuv_sensor_ros_plugins)/urdf/sensor_snippets.xacro" />
	<xacro:include filename="$(find uuv_gazebo_ros_plugins)/urdf/snippets.xacro" />
	<xacro:include filename="$(find ituauv_uuv_descriptions)/urdf/sensor_snippets.xacro" />
	<xacro:include filename="$(find ituauv_uuv_descriptions)/urdf/actuator_snippets.xacro" />
</robot>
